<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/global.css">
  <link rel="stylesheet" href="/static/header.css">
  <link rel="stylesheet" href="/static/product.css">

  <script src="https://kit.fontawesome.com/6eb4322f27.js" crossorigin="anonymous"></script>

  <link rel="icon" href="../img/logo.ico">
  <title>Brand - Product</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <a href="/index.html" class="profile_picture">
        <img src="/img/logo.svg" alt="Logo Website" class="profile_picture">
        <p>Brand</p>
      </a>
      <div class="search-container">
        <div class="search-bar">
          <input type="text" placeholder="Search" id="search-bar-input">
          <a href="">
            <img src="/img/magnifying-glass.svg" alt="" class="mag-glass">
          </a>

        </div>
        <ul class="search-bar-products">
          <li class="search-bar-product">
            <img src="/img/product-1.jpg" alt="">
            <div class="container">
              <h1 class="search-bar-product-title">Product 1</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quia assumenda eius quam nihil
                officia mollitia, enim laboriosam dolore aut!</p>
              <h2>999,99</h2>
              <a href="./template/product-1.html">Mais Informacoes</a>
            </div>
          </li>
          <li class="search-bar-product">
            <img src="/img/product-2.jpg" alt="">
            <div class="container">
              <h1 class="search-bar-product-title">Product 2</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quia assumenda eius quam nihil
                officia mollitia, enim laboriosam dolore aut!</p>
              <h2>999,99</h2>
              <a href="./template/product-2.html">Mais Informacoes</a>
            </div>
          </li>
          <li class="search-bar-product">
            <img src="/img/product-3.jpg" alt="">
            <div class="container">
              <h1 class="search-bar-product-title">Product 3</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quia assumenda eius quam nihil
                officia mollitia, enim laboriosam dolore aut!</p>
              <h2>999,99</h2>
              <a href="./template/product-3.html">Mais Informacoes</a>
            </div>
          </li>
          <li class="search-bar-product">
            <img src="/img/product-4.jpg" alt="">
            <div class="container">
              <h1 class="search-bar-product-title">Product 4</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quia assumenda eius quam nihil
                officia mollitia, enim laboriosam dolore aut!</p>
              <h2>999,99</h2>
              <a href="./template/product-4.html">Mais Informacoes</a>
            </div>
          </li>
          <li class="search-bar-product">
            <img src="/img/product-5.jpg" alt="">
            <div class="container">
              <h1 class="search-bar-product-title">Product 5</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quia assumenda eius quam nihil
                officia mollitia, enim laboriosam dolore aut!</p>
              <h2>999,99</h2>
              <a href="./template/product-5.html">Mais Informacoes</a>
            </div>
          </li>
        </ul>
      </div>
      <ul class="user-menu">
        <a href="#favoritos">
          <p class="user-titles">Favoritos</p>
          <img class="favorites" src="/img/heart.svg" alt="">
        </a>
        <a href="template/bag.html">
          <p class="user-titles">Sacola</p>
          <img class="sacola" src="/img/bag.svg" alt="">
        </a>
        <a href="template/usuario.html">
          <p class="user-titles">Usuário</p>
          <img class="usuario" src="/img/user.svg" alt="">
        </a>
      </ul>
      <div class="hamburguer">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>



  <main>
    <section class="product-container">
      <div class="images-container">
        <img src="/img/product-1.jpg" alt="">
      </div>

      <div class="infos-container">

        <div class="infos">
          <h1 id="nome-produto">Product 1 - Brand</h1>
          <div class="rating">
            <p>Avaliação:</p>
            <i class="rating-star fa-solid fa-star"></i>
            <i class="rating-star fa-solid fa-star"></i>
            <i class="rating-star fa-solid fa-star"></i>
            <i class="rating-star fa-solid fa-star"></i>
            <i class="rating-star fa-solid fa-star"></i>
          </div>
          <h2>$999,99</h2>
          <div class="shipping">
            <p><i class="fa-solid fa-truck-fast"></i> Shipping price: </p>
            <h3 id="preco">$999,99</h3>
          </div>
          <a href="#description" class="description-link"><i class="fa-solid fa-bars"></i> Full description</a>

          <div class="favorite">
            <p><i class="fa-solid fa-heart"></i> Add to favorites</p>
          </div>

          <a class="add-to-cart" href="./bag.html">Add to cart</a>
        </div>
      </div>
    </section>

    <section id="description">
      <div class="product-description">
        <h1>Product Description</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque magni voluptatum odio maiores
          quidem
          eius at
          culpa quo dolor repudiandae fugit sequi, harum repellendus eum quasi maxime assumenda nulla mollitia iure
          porro.
          Impedit cumque quam, earum quasi ab esse sed eius itaque, doloremque, at accusantium minima. Soluta qui
          repellat, totam ipsa velit dolorem modi quo ratione eveniet maiores? Molestiae error cum aliquam veniam
          voluptate ea laudantium quas accusantium vitae modi, dolorem nulla ab eos officiis a neque, sequi in sed sint
          ipsum sunt temporibus. Beatae porro libero maiores molestiae earum reprehenderit atque illum facilis repellat
          facere ut a possimus ratione sunt, officiis qui blanditiis. Aut omnis voluptates ex ducimus necessitatibus
          dolor
          labore debitis. Fugit ratione consequuntur vitae totam sapiente reiciendis!</p>
        <img src="/img/product-1.jpg" alt="">
      </div>
    </section>
  </main>

  <script src="/src/header.js"></script>
  <script src="/src/bag.js"></script>
</body>

</html>