<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/global.css">
  <link rel="stylesheet" href="/static/header.css">
  <link rel="stylesheet" href="/static/product.css">

  <script src="https://kit.fontawesome.com/6eb4322f27.js" crossorigin="anonymous"></script>

  <link rel="icon" href="../img/logo.ico">
  <title>Brand - Product</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <a href="/index.html" class="profile_picture">
        <img src="/img/logo.svg" alt="Logo Website" class="profile_picture">
        <p>Brand</p>
      </a>
      <div class="search-container">
        <div class="search-bar">
          <input type="text" placeholder="Search">
          <a href="">
            <img src="/img/magnifying-glass.svg" alt="">
          </a>
        </div>
      </div>
      <ul class="user-menu">
        <a href="./bag.html">
          <p class="user-titles">Sacola</p>
          <img src="/img/bag.svg" alt="">
        </a>
        <a href="./usuario.html">
          <p class="user-titles">Usuário</p>
          <img src="/img/user.svg" alt="">
        </a>
      </ul>
      <div class="hamburguer">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>



  <main>
    <section class="product-container">
      <div class="images-container">
        <img id="product-image" src="/img/Mug Mockup - Brand.jpg" alt="">
      </div>

      <div class="infos-container">

        <div class="infos">
          <h1 id="name-product">Mug Mockup - Brand</h1>
          <div class="rating">
            <p>Avaliação:</p>
            <i class="rating-star fa-solid fa-star"></i>
            <i class="rating-star fa-solid fa-star"></i>
            <i class="rating-star fa-solid fa-star"></i>
            <i class="rating-star fa-solid fa-star"></i>
            <i class="rating-star fa-solid fa-star"></i>
          </div>
          <h2 id="price">$999,99</h2>
          <div class="shipping">
            <p><i class="fa-solid fa-truck-fast"></i> Frete: </p>
            <h3>R$20,00</h3>
          </div>
          <a href="#description" class="description-link"><i class="fa-solid fa-bars"></i> Descrição completa</a>

          <a id="add-to-cart" class="add-to-cart" href="./bag.html">Adicionar ao carrinho</a>
        </div>
      </div>
    </section>

    <section id="description">
      <div class="product-description">
        <h1>Product Description</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque magni voluptatum odio maiores
          quidem
          eius at
          culpa quo dolor repudiandae fugit sequi, harum repellendus eum quasi maxime assumenda nulla mollitia iure
          porro.
          Impedit cumque quam, earum quasi ab esse sed eius itaque, doloremque, at accusantium minima. Soluta qui
          repellat, totam ipsa velit dolorem modi quo ratione eveniet maiores? Molestiae error cum aliquam veniam
          voluptate ea laudantium quas accusantium vitae modi, dolorem nulla ab eos officiis a neque, sequi in sed sint
          ipsum sunt temporibus. Beatae porro libero maiores molestiae earum reprehenderit atque illum facilis repellat
          facere ut a possimus ratione sunt, officiis qui blanditiis. Aut omnis voluptates ex ducimus necessitatibus
          dolor
          labore debitis. Fugit ratione consequuntur vitae totam sapiente reiciendis!</p>
        <img src="/img/Mug Mockup - Brand.jpg" alt="">
      </div>
    </section>
  </main>

  <script src="/src/header.js"></script>
  <script src="/src/session-storage/cookies.js"></script>
</body>

</html>