main {
  display: flex;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin: 40px 0 0 5%;
  .product-container {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(144, 238, 144, 0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    border-radius: 50px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      height: 20vh;
      border-radius: 20px;
    }
    .info-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 50px;
      a {
        text-decoration: none;
        color: var(--txt2);
        font-size: 2rem;
      }
      h2 {
        color: var(--txt2);
        font-size: 2rem;
      }
    }
    button {
      all: unset;
      border-radius: 20px;
      padding: 12px 20px;
      margin: 20px;
      background-color: var(--color1);
      font-weight: 500;
      font-size: 1.25rem;
    }
  }
  h6 {
    margin-top: 20%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }
}

.order {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(144, 238, 144, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  height: 75vh;
  width: 25%;
  margin: 40px 5%;
  color: var(--txt1);
  padding: 50px;
  h1 {
    font-size: 3rem;
  }
  h2 {
    text-align: end;
  }
  h2:nth-child(7) {
    font-size: 3rem;
  }
  h3 {
    font-weight: 500;
  }
  hr {
    margin: 20px 0;
  }
  button {
    all: unset;
    text-align: center;
    width: 80%;
    color: var(--txt1);
    font-size: 3rem;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    background-color: var(--color1);
  }
}
