main {
  width: 100%;
}
main .product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 100%;
}
main .product-container .images-container {
  width: 40%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: end;
  align-items: center;
}
main .product-container .images-container img {
  width: 75%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  box-shadow: -20px -20px 30px rgba(255, 255, 255, 0.03), 20px 20px 30px rgba(0, 0, 0, 0.3);
}
main .product-container .infos-container {
  aspect-ratio: 1/1;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: var(--txt1);
}
main .product-container .infos-container h1,
main .product-container .infos-container p,
main .product-container .infos-container h2,
main .product-container .infos-container a {
  margin: 10px;
}
main .product-container .infos-container h1 {
  color: var(--txt1);
  font-size: 3rem;
}
main .product-container .infos-container p {
  color: var(--txt1);
  font-size: 1.25rem;
}
main .product-container .infos-container h2 {
  color: var(--txt1);
  font-size: 3rem;
}
main .product-container .infos-container .rating {
  display: flex;
  align-items: center;
  font-weight: 300;
}
main .product-container .infos-container .rating .rating-star {
  font-size: 1.5rem;
  color: var(--color1);
}
main .product-container .infos-container .shipping {
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: var(--txt1);
  font-weight: 300;
  font-size: 1rem !important;
}
main .product-container .infos-container .shipping p {
  font-size: 1rem;
  margin: 10px 5px;
}
main .product-container .infos-container .shipping h3 {
  margin: 10px 0;
  font-weight: 300;
}
main .product-container .infos-container .favorite {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 1rem !important;
}
main .product-container .infos-container .favorite p {
  font-size: 1rem;
  margin: 10px 5px;
}
main .product-container .infos-container .description-link {
  margin: 0 0 0 10px;
  color: var(--txt1);
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
main .product-container .infos-container .description-link i {
  margin: 10px 5px;
}
main .product-container .infos-container .add-to-cart {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--txt1);
  background: transparent;
  border: solid 1px transparent;
  border-radius: 20px;
  outline: none;
  padding: 0 50px;
  margin: 20px;
  box-shadow: -20px -20px 30px rgba(255, 255, 255, 0.03), 20px 20px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
main .product-container .infos-container .add-to-cart img {
  width: -moz-fit-content;
  width: fit-content;
  height: 25%;
  margin: -20px 10px;
}
main .product-container .infos-container .add-to-cart:hover {
  border: solid 1px var(--color1);
}
main .product-description {
  border-radius: 50px;
  box-shadow: inset 20px 20px 30px rgba(255, 255, 255, 0.03), inset -20px -20px 30px rgba(0, 0, 0, 0.3), -20px -20px 30px rgba(255, 255, 255, 0.03), 20px 20px 30px rgba(0, 0, 0, 0.3);
  margin: 5% 10%;
  width: 80%;
  color: var(--txt1);
  padding: 50px;
}
main .product-description h1 {
  font-size: 2rem;
}
main .product-description p {
  margin: 20px 0;
  font-size: 1.25rem;
  font-weight: 300;
}
main .product-description img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  margin: 0 25%;
  border-radius: 50px;
}/*# sourceMappingURL=product.css.map */